/*
    Variables
    - Breakpoints (Horizontal)
    - Colors
    - Typography
    - Widths
 */



/*
    Breakpoints
 */
$breakpoint-small-screen: 640px;
$breakpoint-medium-screen: 768px;
$breakpoint-large-screen: 960px;


/*
    Color Naming Conventions:
    - primary
    - secondary
    - tertiary
    - quaternary
    - quinary

    // Lighter
    - tint-1
    - tint-2

    // Darker
    - shade-1
    - shade-2

    Color names generated at http://chir.ag/projects/name-that-color/
 */
$color-black:             rgb(0, 0, 0);
$color-white:             rgb(255, 255, 255);
$color-grey:              rgb(225, 225, 225);

$color-iceberg:           rgb(222, 241, 244);
$color-japanese-laurel:   rgb(0, 153, 0);
$color-persian-red:       rgb(204, 51, 51);

$color-primary: $color-iceberg;
$color-secondary: $color-japanese-laurel;
$color-tertiary: $color-persian-red;



/*
    Typography
    - Typefaces
    - Weights
 */
$font-arial: 'Arial', sans-serif;

$font-primary: $font-arial;

$weight-regular: 400;
$weight-bold:    700;



/*
    Widths
 */
$constrain-width:         rem(960);
$constrain-width-large:   rem(1200);
$constrain-width-medium:  rem(740);
$constrain-width-small:   rem(600);
