<section class="section | constrain-width">
    <div class="category-header">
        <h1 class="title">Women's tops</h1>
        <select class="dropdown-list" [(ngModel)]="sizeValue">
            <option *ngFor="let size of arrSize" value= {{size.value}}>{{size.label}}</option>
        </select>
    </div>
    <div class="products" *ngIf="arrProducts">
        <div class="item" *ngFor="let product of arrProducts | sizeFilter: sizeValue">
            <img class="image" src="{{'../assets/images/products/' + product.productImage}}" alt="{{product.productName}}" />

            <div *ngIf="product.isSale == true" class="tag sale">Sale</div>
            <div *ngIf="product.isExclusive == true" class="tag exclusive">Exclusive</div>

            <div class="details">
                <div class="name">{{product.productName}}</div>
                <div class="price">{{product.price}}</div>
            </div>
        </div>
    </div>
</section>
