@import "../assets/sass/normalize.css";
@import "../assets/sass/remify.scss";
@import "../assets/sass/variables.scss";
@import "../assets/sass/layout.scss";

.section {
  font-family: $font-primary;
}

.category-header {
    padding: rem(10);
    background-color: $color-primary;
    text-align: center;

    @media screen and (min-width: $breakpoint-small-screen) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .title {
        font-size: rem(24);
        margin: 0;
    }

    .dropdown-list {
        width: rem(150);
        font-size: rem(12);
        margin-top: rem(5);

        @media screen and (min-width: $breakpoint-small-screen) {
            margin-top: 0;
        }
    }
}

.products {
    width: 100%;
    margin: rem(10) 0;

    @media screen and (min-width: $breakpoint-small-screen) {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: rem(10);
        padding: rem(10) 0 rem(30);
        border-top: 1px solid $color-grey;
        border-right: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
        border-left: 1px solid $color-grey;

        @media screen and (min-width: $breakpoint-small-screen) {
            flex-basis: calc(25% - 1px);
            margin-top: 0;
            border-left: none;
        }

        &:nth-child(4n+1) {
            @media screen and (min-width: $breakpoint-small-screen) {
                border-left: 1px solid $color-grey;
                flex-basis: calc(25% - 2px);
            }
        }

        &:nth-child(1n+5) {
            @media screen and (min-width: $breakpoint-small-screen) {
                border-top: none;
            }
        }

        .image {
            display: block;
            margin: 0 auto rem(15);
            width: rem(228);
        }

        .tag {
            align-self: flex-start;
            margin-left: rem(7);
            padding: rem(10) rem(20);
            color: $color-white;
            font-size: rem(12);
            text-align: center;

            &.exclusive {
                background-color: $color-secondary;
            }

            &.sale {
                background-color: $color-tertiary;
            }
        }

        .details {
            width: calc(100% - rem(14));
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            font-weight: $weight-bold;
            margin: rem(10) rem(7) 0;

            .name {
                margin-right: rem(10);

                @media screen and (min-width: $breakpoint-small-screen) {
                    font-size: rem(14);
                }

                @media screen and (min-width: $breakpoint-medium-screen) {
                    font-size: rem(16);
                }
            }

            .price {
                font-size: rem(22);

                @media screen and (min-width: $breakpoint-small-screen) {
                    font-size: rem(18);
                }

                @media screen and (min-width: $breakpoint-medium-screen) {
                    font-size: rem(22);
                }
            }
        }
    }
}
